.candidateProfile-header-left {
  display: flex;
  align-items: center;
}
.candidateProfile-leftArrow-btn {
  background: #6750a4;
  border-radius: 2.34483px;
  padding: 5px 12px;
  margin-right: 20px;
  border: none;
}

.candidateProfile-designation {
  font-size: 14px;
}
.candidateProfile-header {
  display: flex;
  margin: 20px 0;
  padding: 20px 0;
  justify-content: space-around;
  border-top: 1px solid rgba(28, 27, 31, 0.7);
  border-bottom: 1px solid rgba(28, 27, 31, 0.7);
  color: rgba(28, 27, 31, 0.7);
}
.candidateProfile-task-status {
  width: 30%;
  height: 100vh;
}
.candidateProfile-task-status-box {
  background: #ffffff;
  border: 0.5px solid #6750a4;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}
.candidateProfile-task {
  display: flex;
  border-radius: 5px;
  align-items: center;
  padding: 10px;

  position: relative;
  margin-bottom: 100px;
}
.candidateProfile-task::before {
  content: "";
  background-color: #b9b9b9;
  width: 3px;
  position: absolute;
  bottom: 0;
  left: 20px;
  top: 100%;
  height: 38px;
}

.task-completed {
  fill: #007b40;
  color: #007b40;
  background: rgba(0, 123, 64, 0.22);
}
.task-running {
  fill: #ff8f6b;
  color: #ff8f6b;
  background: rgba(255, 143, 107, 0.22);
}
.task-lock {
  border: 1px solid #e1e1e1;
  fill: #6750a4;
}

.candidateProfile-content {
  display: flex;
  justify-content: space-between;
}
.candidateProfile-right {
  width: 60%;
}

.candidateProfile-calendar {
  background: #f7f2fa;
  border-radius: 22px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.full-calendar {
  width: 45%;
  /* height: 20vh; */
  background: transparent !important;
  border: none !important;
  color: #030229;
}
.bg-color {
  color: white;
  background: #6750a4;
}
/* table tr td {
  border-radius: 5px;
} */
.candidateProfile-recent-activity {
  margin-top: 20px;
}
.candidateProfile-recent-activity-box {
  margin-top: 10px;
  background: #ffffff;
  border: 0.5px solid #6750a4;
  border-radius: 5px;
  padding: 20px 20px 30px 35px;
  position: relative;
  overflow: hidden;
}
.candidateProfile-recent-activity-box::before {
  content: "";
  height: 100%;
  background: #1c1b1f;
  width: 2px;
  position: absolute;
  left: 10px;
}
.candidateProfile-recent-activity-week::before {
  content: "";
  height: 5px;
  background: #6750a4;
  width: 30px;
  top: 18%;
  position: absolute;
  transform: translateX(-110%);
}
.candidateProfile-down-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: #ffd8e4;
  border: 1px dashed #6750a4;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.candidateProfile-recent-activity-box ul {
  list-style: none;
}
.candidateProfile-recent-activity-box ul li {
  display: flex;
  align-items: center;
}
.candidateProfile-recent-activity-box ul .task-ended::before {
  content: "\2022";
  color: #e82a2a;
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  font-size: 30px;
  margin-left: -1.2em; /* Also needed for space (tweak if needed) */
}
.candidateProfile-recent-activity-box ul .task-picked::before {
  content: "\2022";
  color: #007b40;
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  font-size: 30px;
  margin-left: -1.2em; /* Also needed for space (tweak if needed) */
}
