.dsb-list-item {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border-radius: 5px;
  margin: 20px 0px;
  cursor: pointer;
}

.dsb-list-item:hover {
  background: #6750a4;
  color: white;
  fill: white;
}
