.internModel-btns {
  margin: 20px 0;
}
.internModel-btn-1 {
  color: #1c1b1f;
  text-decoration: none;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  width: 70%;
  margin: 10px 0;
  text-align: center;
  margin-right: 10px;
}
.internModel-btn-2 {
  color: #1c1b1f;
  text-decoration: none;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 10px 50px;
  font-weight: bold;
  cursor: pointer;
  width: 70%;
  margin: 10px 0;
  text-align: center;
}

.internModel-btn-1:hover,
.internModel-btn-1:focus,
.internModel-btn-2:focus,
.internModel-btn-2:hover {
  background: #1c1b1f;
  color: white;
  border-bottom: 3px solid white;
  width: 10px;
}

.internModel-export-btn {
  color: #6750a4;
  text-decoration: none;
  font-size: 18px;
  margin: 10px 0;
  font-weight: bold;
}
.internModel-task-header {
  display: flex;
  flex-direction: column;
}
.internModel-task-header-label {
  font-weight: 600;
  font-size: 16px;
}
.internModel-task-content-header {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.internModel-task-content-title {
  color: #6750a4;
  margin-right: 15px;
}
.internModel-edit-icon {
  width: 15px;
}
.internModel-task-week-form {
  width: 100%;
  padding-left: 30px;
  /* border: 1px solid black; */
}
.internModel-task-week-full {
  overflow-x: hidden;
}
.internModel-task-week-full::before {
  content: "";
  position: absolute;
  height: 335px;
  width: 5px;
  background-color: #6750a4;
  transform: translateX(-450%);
}
.internModel-task-week::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  transform: translateX(-130%);
  background-color: white;
  border: 5px solid #6750a4;
}

.internModel-task-day-item {
  width: 100%;
  margin: 10px 0;
}
.internModel-addMore {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  color: #1c1b1f;
  float: right;
  border: none;
  background-color: transparent;
  margin-right: 50px;
  width: 100px;
  justify-content: space-between;
  cursor: pointer;
}
.internModel-task-candidate-label {
  font-weight: 600;
  font-size: 16px;
}
.internModel-footer {
  margin-top: 50px;
}
.internModel-footer-btn {
  text-decoration: none;
  width: 10%;
  background: #1c1b1f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
