.hrHomeCandidate {
  background: #f9f9f9;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.hrHomeCandidate-downArrow {
  stroke: #1c1b1f;
  width: 16px;
  height: 8px;
  cursor: pointer;
  margin-left: 5px;
}
.hrHomeCandidate-menu-box {
  position: relative;
}
.hrHomeCandidate-menu {
  right: 14%;
  z-index: 1;
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 25px 35px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  padding: 10px;
}
.hrHomeCandidate-menu li {
  list-style-type: none;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}
.hrHomeCandidate-menu li:hover {
  background: rgba(103, 80, 164, 0.12);
  color: #6750a4;
}

.hrHomeCandidate-deleteIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
