.sidebar {
  width: 20%;
  background: #f9f9f9;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
}
.dashboard-logo {
  width: 212.84px;
  height: 15vh;
  cursor: pointer;
}

.dashboard-profile-box {
  background: #1c1b1f;
  color: #ffffff;
  display: flex;
  width: 80%;
  padding: 20px 0px;
  align-items: center;
  /* justify-content: space-evenly; */
  border-radius: 10px;
  cursor: pointer;
}
.dashboard-profile-box:hover {
  color: black;
  /* background: #6750a4; */
  background-color: #ffffff;
  box-shadow: -1px 0px 18px -2px rgba(0, 0, 0, 0.62);
  /* transform: translate(2%); */
}

.profile-pic {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin-left: 15px;
}

.dsb-profile-name {
  padding-left: 20px;
  line-height: 22px;
}

.dsb-categories {
  /* margin-top: 20px; */
}
