.calandar {
  /* width: 40%; */
  margin-top: 10px;
}
.calandar-items {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.calandar-item {
  background: rgba(103, 80, 164, 0.12);
  box-shadow: 0px 0px 5px rgba(103, 80, 164, 0.05),
    0px 25px 35px rgba(103, 80, 164, 0.03);
  border-radius: 12px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 12%;
}

.calandar-item:hover {
  background: #6750a4;
  color: white;
  cursor: pointer;
}
.calandar-item-week {
  font-weight: normal;
}
.calandar-item-day {
  font-weight: 700;
  font-size: 20px;
}
.calandar-item-today{
  background: #6750a4;
  box-shadow: 0px 0px 5px rgba(103, 80, 164, 0.05),
    0px 25px 35px rgba(103, 80, 164, 0.03);
  border-radius: 12px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 12%;
  color: #ffffff;
}
