.notificationItem {
  position: relative;
  top: 15%;
  /* height: 85vh; */
  border-radius: 9px;
  border: 0.33px solid #b5b5b5;
  padding: 10px;
  margin: 10px 10px;
  cursor: pointer;
}
.notificationItem:hover {
  background: #f7f2fa;
}
.notificationItem-title {
  color: #6750a4;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 15px;
  padding: 5px 0px;
}
.notificationItem-description {
  font-size: 12px;
  text-align: justify;
}
