.courseItem {
  border: 1px solid #e1e1e1;
  border-radius: 22px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
  margin-bottom: 20px;
}
.courseItem-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courseItem-heading {
  color: #6750a4;
  text-transform: capitalize;
}
.coursesItem-linkedin {
  text-decoration: none;
  color: #0a66c2;
  font-weight: bold;
  float: right;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.courseItem-lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courseItem-disc {
  text-transform: capitalize;
}
.viewcourse-btn {
  text-decoration: none;
  background: #1c1b1f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}
.upper-right{
  display: flex;
  flex-direction: column;
}