.sidebar-list-item {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border-radius: 5px;
  margin: 25px 0px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.sidebar-list-item:hover, .sidebar-list-item:focus  {
  background: #6750a4;
  color: white;
  fill: white;
}
