
.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.login-left {
  width: 40%;
  height: 100vh;
  position: relative;
}
.login-image {
  width: 100%;
  height: 100vh;
  object-fit: fill;
}
.login-blur-content {
  font-style: normal;
  font-weight: 100;

  position: absolute;
  top: 50%;
  left: 20%;
  width: 50%;
  height: 30%;
  border-radius: 8.41232px;
  padding: 20px;
  color: #ffffff;
  background: linear-gradient(
    115.87deg,
    rgba(255, 255, 255, 0.07) 0.23%,
    rgba(255, 255, 255, 0.022) 99.87%
  );
  box-shadow: inset 28.6019px -28.6019px 28.6019px rgba(194, 194, 194, 0.1),
    inset -28.6019px 28.6019px 28.6019px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login-right {
  width: 60%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

  /* position: relative; */
}
.logo {
  width: 200px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.login-content {
  /* position: relative;
  top: 50%; */
  margin: auto;
  /* border: 1px solid black; */
  width: 40%;
  height: 70%;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  position: absolute;
  top: 15%;
  justify-content: space-around;
}
.welcome-heading {
  font-size: 42px;
}
.login-welcome {
  font-size: 12px;
  color: grey;
  line-height: 19.1px;
  font-weight: 400;
}
.forget-pwd {
  color: black;
  text-decoration: none;
  text-align: right;
  font-size: 10px;
  font-weight: bold;
}
.login-btn {
  background-color: #1c1b1f;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 3px;
}

.login-btn:hover {
  background-color: #1c1b1f41;
  font-weight: 500;
  color: black;
  cursor: pointer;
}
