.moduleItem {
  background: #ffffff;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  box-shadow: 0px 25px 35px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  min-width: 45%;
  max-width: 45%;
  height: 245px;
  max-height: 245px;
  display: flex;
  padding: 15px;
  position: relative;
  margin-bottom: 20px;
}
.moduleItem-left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.module_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 25px 35px rgba(0, 0, 0, 0.03);
  width: 60%;
  border-radius: 50%;
  height: 60%;
}
.module_logo_latter {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 127px;
  text-transform: capitalize;
  color: #1c1b1f;
}

.moduleItem-right {
  overflow: hidden;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.moduleItem-right-up {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
.moduleItem-threeDots {
  width: 40px;
  height: 30px;
  cursor: pointer;
}
.moduleItem-menu {
  top: 15%;
  right: 5%;
  z-index: 1;
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 25px 35px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  padding: 10px;
}
.moduleItem-menu li {
  list-style-type: none;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.moduleItem-menu li:hover {
  background: rgba(103, 80, 164, 0.12);
  border-radius: 5px;
  color: #6750a4;
}
.moduleItem-right-date {
  text-transform: capitalize;
  font-size: 12px;
  color: #8d8d8f;
  font-weight: 400;
  line-height: 16px;
}
.moduleItem-right-description {
  text-transform: capitalize;
  margin: 20px 0;
}
.moduleItem-btn {
  text-decoration: none;
  background: #1c1b1f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  font-weight: bold;
  cursor: pointer;
  width: 70%;
  margin: 10px 0;
  text-align: center;
}
